
<% include ../layout/header.ejs %>
<% include ../layout/head.ejs %>
<% include ../element/menu.ejs %>
<% include ../element/top_nav.ejs %>


<div id="overlay">
<div id="progstat"></div>
<div id="progress"></div>
</div>

<div id="container">
<% include section.ejs %>
</div>


<% include ../layout/footer.ejs %>

<script>
	function updateUserRole(id)
	{
	  $('#rowid').val(id);
	  $('#userListModal').modal('show');
		$('.modal-title').text('Update User Role');
		
		$.ajax({
			type:"get",
			url:"/user_role_by_id?id="+id,
			cache:false,
			success:function(data){

				data.forEach(function(row) { 
					var desc = JSON.stringify(row.description);

					$('#desc').val(desc.replace(/\"/g, ""));
				});
			}	
		});
	} 

	function addRole(){

	  $('#addRoleModal').modal('show');
		$('.modal-title').text('Add User Role');
		
	}

	function deleteUserRole(id)
	{
	  $('#rowid_del').val(id);
	  $('#userListModal_del').modal('show');
	  $('.modal-title').text('Delete User Role');
	} 
</script>

<div class="modal fade text-xs-left" id="userListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
  <div class="modal-dialog" role="document">
  	<form class="form-horizontal form-simple" id="updateUserRole" method="post" action="/updateUserRole" novalidate>
  	<input type="hidden" name="rowid" id="rowid">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="myModalLabel2"><i class="icon-road2"></i> </h4>
	  </div>
	  <div class="modal-body">
		<fieldset class="form-group position-relative has-icon-left mb-1">
			<input type="text" class="form-control" id="desc" name="desc" placeholder="Description" required>
			<div class="form-control-position">
			    <i class="icon-head"></i>
			</div>
		</fieldset>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-outline-primary">Save changes</button>
	  </div>
	</div>
	</form>
  </div>
</div>

<div class="modal fade text-xs-left" id="userListModal_del" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog" role="document">
  	<form class="form-horizontal form-simple" id="deleteUserRole" method="post" action="/deleteUserRole" novalidate>
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="myModalLabel2"><i class="icon-road2"></i> </h4>
	  </div>
	  <div class="modal-body">
  		<input type="hidden" name="rowid_del" id="rowid_del">
		<p>
			Are you sure you want to delete User Role?
		</p>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
		<button type="submit" class="btn btn-outline-primary">Delete</button>
	  </div>
	</div>
	</form>
  </div>
</div>

<% include ../layout/foot.ejs %>
