
<% include ../../layout/header.ejs %>
<link rel="stylesheet" type="text/css" href="/app-assets/css/plugins/datatables/dataTables.bootstrap.css">
<% include ../../layout/head.ejs %>
<% include ../../element/menu.ejs %>
<% include ../../element/top_nav.ejs %>
<div id="overlay">
<div id="progstat"></div>
<div id="progress"></div>
</div>

<div id="container">
<% include section.ejs %>
</div>
<% include ../../layout/footer.ejs %>
<script src="/app-assets/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="/app-assets/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
<script>
$(document).ready(function(){
	$("table[id='table']").DataTable({
		"paging": false,
	    "lengthChange": false,
	    "searching": true,
	    "ordering": false,
	    "info": false,
	    "autoWidth": true
	});
});

function addLoanSss() {
	$('#addLoan').modal('show');
	$('.modal-title').text('Add User List');
}

	function view_details(id)
	{
	  $("#details_loan tbody").empty();

	  $('#rowid').val(id);
	  $('#view_detail').modal('show');
	  $('.modal-title').text('SSS Loan Details');
	  	$.ajax({
			type:"get",
			url:"/loan_by_id/"+id,
			cache:false,
			success:function(result){
 				console.log(result)
				var i = 0;
				result.forEach(function(row) { 
					var date_from = JSON.stringify(row.date_from, 'isoDate');
					var date_to = JSON.stringify(row.date_to, 'isoDate');
					var monthly_payment = JSON.stringify(row.monthly_payment);
					var amount_paid = JSON.stringify(row.amount_paid);

						$("#details_loan tbody").append("<tr><td>"+ (i + parseInt(1))+"</td>"+
						"<td>"+date_from+"</td>"+
				 		"<td>"+date_to.replace(/\"/g, "")+"</td>"+
				 		"<td>"+monthly_payment.replace(/\"/g, "")+"</td>"+
				 		"<td>"+amount_paid.replace(/\"/g, "")+"</td>"+
				 		"</tr>");
					i++;
				});	

				$("table[id='details_loan']").DataTable({
					"paging": false,
			        "lengthChange": false,
			        "searching": false,
			        "ordering": false,
			        "info": false,
			        "autoWidth": true
				});
			}	
		});
	}
</script>

<div class="modal fade text-xs-left" id="view_detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel17" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="myModalLabel17">Basic Modal</h4>
	  </div>
	  <div class="modal-body">
	  	 <table id="details_loan" class="table table-hover table-bordered table-responsive" cellspacing="0" width="100%">
            <thead class="bg-success">
                <tr>
                    <th>#</th>
                    <th>Date From</th>
                    <th>Date To</th>
                    <th>Amount Due</th>
                    <th>Amount Paid</th>
                    <th>Running Balance</th>
                </tr>
            </thead>
            <tbody>
	           
            </tbody>
         </table>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn danger btn-outline-danger" data-dismiss="modal">Close</button>
	  </div>
	</div>
  </div>
</div>

<div class="modal fade text-xs-left" id="addLoan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel17" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="myModalLabel17">Basic Modal</h4>
	  </div>
	  <div class="modal-body">
			<form method = "post", action="/sss">
				<fieldset class="form-group position-relative has-icon-left mb-1">
						<select  class="form-control" name="user" required>
							<option disabled selected>Select User</option>
							<% users.forEach(function (user) { %>
								<option value="<%= user.id%>"><%= user.full_name %></option>
							<% })%>
						</select>
						<div class="form-control-position">
								<i class="icon-list"></i>
						</div>
				</fieldset>
				<fieldset class="form-group position-relative has-icon-left mb-1">
						<select  class="form-control" name="term"  required>
							<option disabled selected>Select Payment Term</option>
							<option value="Monthly" >Monthly</option>
							<option value="Semi-Monthly" >Semi-Monthly</option>
						</select>
						<div class="form-control-position">
								<i class="icon-list"></i>
						</div>
				</fieldset>
				<fieldset class="form-group position-relative has-icon-left mb-1">
						<input type="number" min = 0 class="form-control" name="months_to_pay" placeholder="Months to Pay" required>
						<div class="form-control-position">
								<i class="icon-money"></i>
						</div>
				</fieldset>
				<fieldset class="form-group position-relative has-icon-left mb-1">
						<input type="number" id = "amount" min = 0 class="form-control" name="amount" placeholder="Amount" required>
						<div class="form-control-position">
								<i class="icon-user"></i>
						</div>
				</fieldset>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn danger btn-outline-danger" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-outline-primary">Save changes</button>
		</div>
	</form>
	</div>
  </div>
</div>

<% include ../../layout/foot.ejs %>
