    <div class="app-content content container-fluid">
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="flexbox-container">
                <div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1">
                <div class="card-header bg-transparent no-border pb-0">
                    <h2 class="error-code text-xs-center mb-2">404</h2>
                    <h3 class="text-uppercase text-xs-center">Page Not Found !</h3>
                </div>
                <div class="card-body collapse in">
                    <fieldset class="row py-2">
                        <div class="input-group col-xs-12">
                            <input type="text" class="form-control form-control-lg input-lg border-grey border-lighten-1" placeholder="Search..." aria-describedby="button-addon2">
                            <span class="input-group-btn" id="button-addon2">
                                <button class="btn btn-lg btn-secondary border-grey border-lighten-1" type="button"><i class="icon-ios-search-strong"></i></button>
                            </span>
                        </div>
                    </fieldset>
                    <div class="row py-2">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <a href="index.html" class="btn btn-primary btn-block font-small-3"><i class="icon-home4"></i> Back to Home</a>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <a href="#" class="btn btn-danger btn-block font-small-3"><i class="icon-ios-search-strong"></i>  Advanced search</a>
                        </div>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent pb-0">
                        <div class="row">
                            <p class="text-muted text-xs-center col-xs-12 py-1">© 2017 <a href="https://pixinvent.com/free-bootstrap-template/robust-lite/html/ltr/">Robust Lite </a>Crafted with <i class="icon-heart5 pink"> </i> by <a href="http://themeforest.net/user/pixinvent/portfolio" target="_blank">PIXINVENT</a></p>
                            <div class="text-xs-center">
                                <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-facebook"><span class="icon-facebook3"></span></a>
                                <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-twitter"><span class="icon-twitter3"></span></a>
                                <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-linkedin"><span class="icon-linkedin3 font-medium-4"></span></a>
                                <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-github"><span class="icon-github font-medium-4"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
      </div>
    </div>
  