
      <div id="overlay">
        <div id="progstat"></div>
        <div id="progress"></div>
      </div>

      <div id="container">
        <div class="app-content content container-fluid">
          <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-xs-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="media">
                                    <div class="p-2 text-xs-center bg-success bg-darken-2 media-left media-middle">
                                        <i class="icon-user5 font-large-2 white"></i>
                                    </div>
                                    <div class="p-2 bg-success white media-body">
                                        <h5>Employees</h5>
                                        <% total_emp.forEach(function (user) { %>
                                            <h5 class="text-bold-400"><%= user.total_emp%></h5>
                                        <% }) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-xs-12">   
                        <div class="card">
                            <div class="card-body">
                                <div class="media">
                                    <div class="p-2 text-xs-center bg-primary bg-darken-2 media-left media-middle">
                                        <i class="icon-data font-large-2 white"></i>
                                    </div>
                                    <div class="p-2 bg-primary white media-body">
                                        <h5>Vacancies</h5>
                                        <% total_vacancy.forEach(function (user) { %>
                                            <h5 class="text-bold-400"><%= user.total_vacancy%></h5>
                                        <% }) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-xs-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="media">
                                    <div class="p-2 text-xs-center bg-pink bg-darken-2 media-left media-middle">
                                        <i class="icon-shop2 font-large-2 white"></i>
                                    </div>
                                    <div class="p-2 bg-pink white media-body">
                                        <h5>Clients</h5>
                                        <% total_clients.forEach(function (user) { %>
                                            <h5 class="text-bold-400"><%= user.total_clients%></h5>
                                        <% }) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Fill Rate</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block chartjs">
                                    <canvas id="line-stacked-area" height="500"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>


        </div>
    </div>

  
    