	
<% include ../layout/header.ejs %>
<% include ../layout/head.ejs %>
<% include ../element/menu.ejs %>
<% include ../element/top_nav.ejs %>


<div id="overlay">
<div id="progstat"></div>
<div id="progress"></div>
</div>

<div id="container">
<% include section.ejs %>
</div>

<% include ../layout/footer.ejs %>
<% include ../layout/foot.ejs %>
