<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">

        </div>
        <div class="content-body">
			<section class="flexbox-container">
			    <div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1  box-shadow-2 p-0">
			        <div class="card border-grey border-lighten-3 m-0">
			        	<% if (message.length > 0) { %>
                            <div class="alert alert-danger col-sm-12"><%= message %></div>
                        <% } %>
			            <div class="card-header no-border">
			                <div class="card-title text-xs-center">
			                    <div class="p-1"><img class="img-responsive" src="/app-assets/images/logo/logo1.png" width="300px" height="60px" alt="branding logo"></div>
			                </div>
			                <h6 class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2"><span>Employee Login</span></h6>
			            </div>

			            <div class="card-body collapse in">
			                <div class="card-block">
			                    <form class="form-horizontal form-simple" id="loginform" class="form-horizontal" role="form" method="post" action="/login">
			                        <fieldset class="form-group position-relative has-icon-left mb-0">
			                            <input type="text" class="form-control form-control-lg input-lg" id="uname" name="uname" placeholder="Your Username" required>
			                            <div class="form-control-position">
			                                <i class="icon-head"></i>
			                            </div>
			                        </fieldset>
			                        <fieldset class="form-group position-relative has-icon-left">
			                            <input type="password" class="form-control form-control-lg input-lg" id="pass" name="pass" placeholder="Enter Password" required>
			                            <div class="form-control-position">
			                                <i class="icon-key3"></i>
			                            </div>
			                        </fieldset>
			                        <fieldset class="form-group row">
			                            
			                        </fieldset>
			                        <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-unlock2"></i> Login</button>
			                    </form>
			                </div>
			            </div>
			            <div class="card-footer">
			                <div class="">
			                    <p class="float-sm-right text-xs-center m-0">RJJ HR Solutions</p>
			                </div>
			            </div>
			        </div>
			    </div>
			</section>
        </div>
    </div>
</div>